@import "../../tokens";

.BaseLayouts {
}

.BaseLayouts__header {
  width: 100%;
  height: 54px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  //   background-color: $color-white;
  color: $color-white;
  background-color: $color-primary;
}

.BaseLayouts__logo {
  font-size: 36px;
  text-align: center;
  width: 200px;
  font-family: $caveat-font;
}

.BaseLayouts__links {
  display: flex;
  > * {
    padding: 0 16px;
  }
}

.BaseLayouts__back {
  display: flex;
  align-items: center;
  padding: 16px 24px;
  margin: 0 auto;
  max-width: 840px;
  cursor: pointer;

  svg {
    width: 12px;
    height: 12px;
    color: black;
    transform: rotate(180deg);
    margin-right: 8px;
  }

  &:hover {
    color: $color-text-secondary;
    svg {
      color:  $color-text-secondary;
    }
  }
}
