@import "../../tokens";

.ArticlePage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: $space-medium;
}

.ArticlePage__comments {
    background-color: $color-white;
    border-radius: $radius-medium;
    padding: $space-medium;
    margin-top: $space-large;
    max-width: 840px;
    width: 100%;
}