$color-white: #fff;
$color-black: #000;

$color-background: #dedee4;
$color-background-light: #f2f0ea;
$color-background-light-50: rgba($color-background-light, 0.5);
$color-background-dark: #696865;
$color-background-gray: #f9f9f9;

$color-text-primary: #00192c;
$color-text-secondary: #6f7880;
$color-text-light: #cccecf;
$color-text-white: #fff;

$color-border-dark: #00192c;
$color-border-input: rgba(0, 0, 0, 0.23);

$color-green: #59f986;
$color-yellow: #ffea2b;
$color-blue: #0038ff;
$color-gray: #0a0703;
$color-cyan: #34a0ee;

$color-primary: #fda32e;
$color-primary-hover: #ffbb29;
$color-primary-pressed: #feb72e;
$color-primary-on-dark: #fcba36;

$color-secondary: #5a88ff;
$color-secondary-hover: #4075ff;
$color-secondary-pressed: #3165e9;
$color-secondary-logo: #f7a533;

$color-tag-1: #ffeae4;
$color-tag-2: #e6e8ea;
$color-tag-3: #9c9de0;
$color-error: #ff564e;
