$roboto-font: "Roboto";
$caveat-font: 'Caveat';
$default-font: $roboto-font, "Arial", "sans-serif";

$radius-small: 8px;
$radius-medium: 16px;
$radius-big: 24px;

$space-small-3: 2px;
$space-small-2: 4px;
$space-small: 8px;
$space-medium: 16px;
$space-large: 24px;
$space-large-2: 36px;
$space-large-3: 42px;
